h1 {
    background: red;
}
.p1 {
   background: blue;
   font-size: 32pt;
   color: green;
}
.p2 {
   border: 10px solid yellow;
   border-radius: 5px;
   font-size: 24pt;
   margin-bottom: 60px;
   padding-left: 20px;
}
.p3 {
   font-weight: 900;
   font-family: Courier New;
   font-size: 20pt;
}
.p4 {
    font-style: oblique;
    text-align: center;
    font-size: 24px;
    color: green;
    text-shadow: 1px 1px 2px green;
}